<div class="pt4 pb6">
  <h3 class="mt0 text-normal bold text-center">
    {{ collection.title }}
  </h3>
  <div class="flex flex-wrap justify-center">
    {% for secondary in linklists.secondary-menu.links %}
      {% if secondary.title == collection.title %}
        {% if secondary.links != blank %}
          {% for child_link in secondary.links %}
            <a href="{{ child_link.url }}" class="inline-block no-underline collection-filter dark-pink border border-dark-pink rounded text-center">
              {{ child_link.title }}
            </a>
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  {% paginate collection.products by 36 %}
    <div class="grid flex flex-wrap pt2">
      {% for product in collection.products %}
        {% include 'collection' %}
      {% endfor %}
    </div>
    <div class="pagination text-center h5 flex items-center justify-center mt3">
      {{ paginate | default_pagination }}
    </div>
  {% endpaginate %}
</div>
