{% include 'secondary-menu' %}
<div>
  {% for secondary in linklists.secondary-menu.links %}
    {% for collection in collections %}
      {% if collection.title == secondary.title %}
        <div class="border-bottom border-smoke py4">
          <h5 class="m0 text-normal text-center">
            {{ collection.title }}
          </h5>
          <div class="flex flex-wrap pt4">
            {% for product in collection.products limit: 4 %}
              {% include 'collection'%}
            {% endfor %}
          </div>
          <div class="text-center">
            <a href="{{ collection.url }}" class="button h5 no-underline inline-block text-uppercase bg-black rounded white no-border">
              See all {{ collection.title }}
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
{% include 'insta-famous' %}
{% include 'give-back' %}
