{% assign collection = collections['homepage'] %}

<div class="rounded-top mt1 bg-light-pink home-hero {% if settings.display_announcement_banner %}banner-showing{% endif %}">
  <div class="rounded-top image w100p h100p bg-cover bg-center bg-no-repeat fade-image" data-img="{{ collection.image | img_url: '1440x768' }}"></div>
</div>
<div class="bg-light-pink dark-pink py2">
  <div class="tagline mx-auto text-center">
    <img class="retina" src="https://bit.ly/2QtwLEm" />
    <h2 class="my1 h2 text-normal">
      Thoughtfully-designed, luxury-quality jewelry at accessible prices made for whatever everyday life brings.
    </h2>
  </div>
</div>
<div class="secondary-menu sticky z8 mx-1">
  {% include 'secondary-menu' %}
</div>
{% include 'secondary-menu-m' %}
{% section 'homepage-image-left' %}
{% section 'homepage-image-right' %}
{% include 'negar-quote' %}
{% include 'best-sellers' %}
{% include 'insta-famous' %}
{% include 'give-back' %}
