{% assign collection = collections['homepage'] %}

{% section 'homepage-header' %}
{% section 'homepage-subheader' %}
<div class="secondary-menu sticky z8 mx-1">
  {% include 'secondary-menu' %}
</div>
{% include 'secondary-menu-m' %}
{% section 'homepage-image-left' %}
{% section 'homepage-image-right' %}
{% include 'negar-quote' %}
{% include 'best-sellers' %}
{% section 'insta-famous' %}
<!-- {% include 'give-back' %} -->
