{% assign collection = collections['homepage'] %}

{% section 'homepage-header' %}
<div class="bg-light-pink dark-pink py2">
  <div class="tagline mx-auto text-center">
    <img class="retina" src="https://bit.ly/2QtwLEm" />
    <h2 class="my1 h2 text-normal">
      Thoughtfully-designed, luxury-quality jewelry at accessible prices made for whatever everyday life brings.
    </h2>
  </div>
</div>
<div class="secondary-menu sticky z8 mx-1">
  {% include 'secondary-menu' %}
</div>
{% include 'secondary-menu-m' %}
{% section 'homepage-image-left' %}
{% section 'homepage-image-right' %}
{% include 'negar-quote' %}
{% include 'best-sellers' %}
{% section 'insta-famous' %}
<!-- {% include 'give-back' %} -->
