<div class="grid page pt3 pb8">
  <div>
    <h3 class="m0 bold text-normal">{{ page.title }}</h3>
  </div>
  <div class="page-content break-word text-left pt2">
    {{ page.content }}
  </div>
</div>
