<div class="js-announcement announcement height-2 text-center">
  <div class="pad-announcement bg-tan black flex items-center justify-center h100p">
    <div></div>
    <p class="m0 h5 flex-1">{{ settings.announcement_banner }}</p>
    <!-- <div class="js-close-announcement close-announcement pointer">
      <svg class="black inline-block v-middle" xmlns="http://www.w3.org/2000/svg" width="13" viewBox="0 0 15 15">
        <polygon points="7.5 8.5 1 14.9 0 13.9 6.5 7.5 0 1 1 0 7.5 6.5 14 0 15 1 8.5 7.5 15 14 14 15" fill="currentColor"/>
      </svg>
    </div> -->
  </div>
</div>
