{% style %}
.announcement {
  height: 1.5rem;
}
{% endstyle %}
<div class="js-announcement announcement flex items-center justify-center border-bottom border-charcoal pink bg-black">
  <p class="m0 h6">{{ settings.announcement_banner }}</p>
</div>
