<div class="pt6">
  <h3 class="mt0 mb1 text-normal bold text-center mb3">Best Sellers</h5>
  <div class="grid flex flex-wrap">
    {% for product in collections.homepage.products %}
      {% include 'collection' %}
    {% endfor %}
  </div>
</div>
