<div id="mc_embed_signup">
  <form action="https://ragenjewels.us13.list-manage.com/subscribe/post?u=d69b64f1a08553838add1bcfc&amp;id=c207b39bd8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll" class="footer-signup">
      <div class="mc-field-group">
        <div class="relative">
          <input type="email" value="" name="EMAIL" placeholder="Email address" class="apercu-regular required email w100p border-box" id="mce-EMAIL">
          <div class="absolute flex items-center t0 r0 b0">
            <input type="submit" value="→" name="subscribe" id="mc-embedded-subscribe" class="h3">
          </div>
        </div>
      </div>
      <div class="mc-field-group input-group hide">
        <strong>Where users signed up </strong>
        <ul>
          <li>
            <input type="checkbox" value="1" name="group[17341][1]" id="mce-group[17341]-17341-0" checked>
            <label for="mce-group[17341]-17341-0">Footer</label>
          </li>
          <li>
            <input type="checkbox" value="2" name="group[17341][2]" id="mce-group[17341]-17341-1">
            <label for="mce-group[17341]-17341-1">Popup</label>
          </li>
        </ul>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_d69b64f1a08553838add1bcfc_c207b39bd8" tabindex="-1" value="">
      </div>
    </div>
  </form>
</div>
