<div class="flex items-center bg-light-gray rounded p2 mb1">
  <div class="w10p">
    <img class="block v-middle circle retina" src="https://bit.ly/2E1Wwu0" />
  </div>
  <div class="w40p pl2">
    <h4 class="text-normal mt0 mb1">Giving back</h4>
    <p class="m0 h5 dark-gray">Ragen is proud to donate 10% of our profits directly to Komera. The proceeds from a single piece can fund an entire week of secondary school for a young scholar.</p>
  </div>
  <div class="w50p text-right">
    <button class="button h5 text-uppercase bg-black rounded white no-border">
      Learn more
    </button>
  </div>
</div>
