<div class="give-back flex-md items-center bg-light-gray rounded mb1 w100p border-box">
  <div class="avatar block mx-auto">
    <img class="block v-middle circle retina" src="https://bit.ly/2E1Wwu0" />
  </div>
  <div class="copy">
    <h4 class="text-normal mt0 mb1">Giving back</h4>
    <p class="m0 h4 dark-gray">Ragen is proud to donate 10% of our profits directly to Komera. The proceeds from a single piece can fund an entire week of secondary school for a young scholar.</p>
  </div>
  <div class="cta">
    <a href="/giving-back" class="button h5 no-underline inline-block text-uppercase bg-black rounded white no-border">
      Learn more
    </a>
  </div>
</div>
