{% style %}
  .logo {
    margin-top: -7px;
    margin-right: 4rem;
  }
  .site-nav a {
    padding: .75rem;
    letter-spacing: .5px;
  }
  .icon-text {
    padding-left: .35rem;
  }
{% endstyle %}

{% include 'announcement' %}
<header class="js-header site-nav sticky t0 l0 r0 show-lg z9 h6 text-uppercase bg-black">
  <div class="flex items-center h100p px2">
    <nav class="flex items-center w100p">
      <h1 class="logo m0 h0">
        <a class="no-underline pink" href="/">
          {% assign logo_width = 123 %}
          {% include 'logo' %}
        </a>
      </h1>
      <div class="flex items-center flex-1 basis-0">
        {% for main in linklists.main-menu.links %}
          <a class="white no-underline hover-opacity-5" href="{{ main.url }}">{{ main.title }}</a>
        {% endfor %}
        <div class="site-search inline relative">
          <a class="search-trigger white no-underline hover-opacity-5 flex items-center" href="#">
            {% assign search_width = 18 %}
            {% include 'icon-search' %}
            <span class="icon-text">Search</span>
          </a>
          <div class="search-box absolute t0 z2">
            <div class="bg-white p1 border border-smoke">
              <form class="search" action="/search" autocomplete="off">
                <input type="hidden" name="type" value="product" />
                <label class="hide">Search:</label>
                <div class="relative">
                  <input type="text" placeholder="e.g. charms" name="q" required  value="{{ search.terms | escape }}" class="apercu-regular required email w100p border-box" />
                  <div class="absolute flex items-center t0 r0 b0 r0">
                    <input type="submit" value="→" class="h3 dark-pink">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-end flex-1 basis-0 text-right">
        {% if shop.customer_accounts_enabled %}
          <a class="white no-underline p1 hover-opacity-5 flex items-center" href="/account/login">
            <svg width="18" viewBox="0 0 20 20">
              <g fill="none">
                <path d="M0 0h20v20H0z"/>
                <path stroke="currentColor" stroke-width="1.4" d="M10 9a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM1 19h18v-.667a6.5 6.5 0 0 0-6.5-6.5h-5a6.5 6.5 0 0 0-6.5 6.5V19z"/>
              </g>
            </svg>
            <span class="icon-text">Login&nbsp;&nbsp;|&nbsp;&nbsp;Register</span>
          </a>
        {% endif %}
        <a class="js-cart-trigger no-underline white hover-opacity-5 relative" href="#">
          <svg width="18" viewBox="0 0 20 20">
            <path fill="none" stroke="currentColor" stroke-width="1.4" d="M15 8.333H5v-2.5a5 5 0 1 1 10 0v2.5zm-14.167 0v10.834h18.334V8.333H15v-2.5a5 5 0 0 0-10 0v2.5H.833z"/>
          </svg>
          <span class="js-header-count cart-count circle text-center bg-pink black h6 block absolute">
            {{ cart.items.length }}
          </span>
        </a>
      </div>
    </nav>
  </div>
</header>

<header class="js-header z9 t0 bg-black hide-lg site-nav sticky h5 text-uppercase apercu-light">
  <div class="flex items-center h100p px1">
    <div class="flex-1 w30p flex items-center">
      <svg class="js-mobile-nav-open inline-block pointer h0" width="21" viewBox="0 0 33 23">
        <g fill="white">
          <rect y="10.2" width="33" height="2.6"/>
          <rect width="33" height="2.6"/>
          <rect y="20.4" width="33" height="2.6"/>
        </g>
      </svg>
      <a class="mobile-search white no-underline hover-opacity-5 flex items-center h6" href="/search">
        {% assign search_width = 18 %}
        {% include 'icon-search' %}
      </a>
    </div>
    <div class="flex-1 w40p text-center">
      <h1 class="m0 h0">
        <a class="no-underline pink" href="/">
          {% assign logo_width = 120 %}
          {% include 'logo' %}
        </a>
      </h1>
    </div>
    <div class="flex-1 w30p flex justify-end">
      <a class="js-cart-trigger no-underline white" href="#">
        <div class="flex items-center">
          {% assign cart_icon_width = 18 %}
          {% include 'cart-icon' %}
          {% include 'cart-count' %}
        </div>
      </a>
    </div>
  </div>
</header>
