<div class="home-hero__content h100p flex items-center justify-center text-center">
  <div class="grid black pb1">
    <h1 class="bold m0 text-normal header-color">{{ section.settings.title }}</h2>
    <p class="text-normal h5 pad-subheader m0 header-color">{{ section.settings.description}}</p>
    <a href="{{ section.settings.button_url }}" class="button no-underline button-bg-color button-text-color">
      {{ section.settings.button_text }}
    </a>
  </div>
</div>