<div class="js-popup popup ig-popup fixed t0 l0 r0 b0 flex items-center z10 hidden">
  <div class="popup-box bg-white w100p flex-md z2 rounded">
    <div class="ig-image">
      <a class="ig-link">
        <img class="block rounded-left ig-img" src="" />
      </a>
    </div>
    <div class="ig-content border-box relative">
      <svg class="js-close-popup close-icon pointer absolute r1 t1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
        <polygon points="7.5 8.5 1 14.9 0 13.9 6.5 7.5 0 1 1 0 7.5 6.5 14 0 15 1 8.5 7.5 15 14 14 15" fill="currentColor"/>
      </svg>
      <div class="h100p flex flex-column justify-between">
        <div class="border-bottom border-smoke flex items-center pb1">
          <div class="ig-avatar circle width-2 height-2 bg-cover"></div>
          <p class="ig-username h5 dark-gray my0 ml1"></p>
        </div>
        <div class="flex-1">
          <p>hi</p>
        </div>
        <div class="border-top border-smoke pt1 flex">
          <a class="ig-link dark-gray" href="" target="_blank">
            <p class="ig-likes h5 my0 text-underline"></p>
          </a>
          <a class="ig-link dark-gray" href="" target="_blank">
            <p class="ig-comments h5 ml1 my0 text-underline"></p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="js-close-popup absolute t0 l0 r0 b0 z1"></div>
</div>
