<div class="grid">
  <div class="image-module left-module flex items-center">
    <div class="visual overflow-hidden bg-light-gray w100p">
      <div class="rounded image bg-center bg-cover fade-image" style="padding-top: 100%;" data-img="{{ collection.image | img_url: '1440x768' }}"></div>
    </div>
    <span class="space"></span>
    <div class="description border-box">
      <h3 class="mt0 mb1">The Evil Eye Collection</h3>
      <p class="m0 dark-gray apercu-light">Wearing an evil eye as an amulet is believed to provide protection against evil forces. Our evil eye collection is not only  beatiful but also stackable. Wear one or wear them all - Ragen Jewels will protect you along the way.</p>
      <button class="button h5 text-uppercase bg-dark-pink rounded white no-border mt2">
        Shop Collection
      </button>
    </div>
  </div>
</div>
