<div class="text-center py6">
  <h3 class="mt0 mb1 text-normal">Insta Famous</h5>
  <p class="mt0 h5 dark-gray mb3">Tag us on Instagram with @ragenjewels to be featured on our site!</p>
  <div class="flex">
    <div class="flex-1"><img class="rounded w100p" src="https://bit.ly/2C1laIG" /></div>
    <span class="block pl1"></span>
    <div class="flex-1"><img class="rounded w100p" src="https://bit.ly/2E3SX6B" /></div>
    <span class="block pl1"></span>
    <div class="flex-1"><img class="rounded w100p" src="https://bit.ly/2y5FUwa" /></div>
    <span class="block pl1"></span>
    <div class="flex-1"><img class="rounded w100p" src="https://bit.ly/2OMkFcc" /></div>
  </div>
  <a href="https://www.instagram.com/explore/tags/ragenjewels/" target="_blank" class="button h5 no-underline text-uppercase bg-dark-pink rounded white no-border mt3 inline-block">
    See all photos
  </a>
</div>
