<div class="bg-light-gray rounded py4 text-center">
  <div class="grid">
    <div class="quote-width mx-auto">
      <p class="h1 apercu-light dark-gray mt0 mb2"><span class="medium-gray">“</span>I want to design jewelry that accompanies you in your quest for happiness, all of the pieces have to be soulful and symbolic of what brings you joy.<span class="medium-gray">”</span></p>
      <div class="flex justify-center">
        <div class="flex items-center">
          <img class="circle retina" src="https://bit.ly/2E9gKCf" />
          <div class="dark-pink ml1 text-left">
            <h2 class="text-normal apercu-light m0">Negar N.</h2>
            <span class="text-uppercase h5">Founder</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
