<div class="js-popup newsletter-popup fixed t0 l0 r0 b0 flex items-center z10 hidden">
  <div class="popup-box bg-white w100p flex-md z2">
    <div class="popup-image">
      <div class="w100p h100p bg-center bg-cover bg-no-repeat" style="background-image: url('https://bit.ly/2PBfIUl')">
      </div>
    </div>
    <div class="popup-content border-box relative">
      <svg class="js-close-popup close-icon pointer absolute r1 t1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
        <polygon points="7.5 8.5 1 14.9 0 13.9 6.5 7.5 0 1 1 0 7.5 6.5 14 0 15 1 8.5 7.5 15 14 14 15" fill="currentColor"/>
      </svg>
      <h2 class="m0">Be an insider!</h2>
      <p class="mt0 medium-gray h4">Sign up for the Ragen newsletter</p>
      {% include 'popup-signup' %}
      <div class="mt2">
        <p class="h5 mt0 mb1 dark-pink">Find us online:</p>
        <a class="inline-block dark-pink mr1 hover-opacity-5" href="https://www.instagram.com/ragenjewels/?hl=en" target="_blank">
          {% include 'instagram-icon' %}
        </a>
        <a class="inline-block dark-pink mr1 hover-opacity-5" href="https://www.facebook.com/ragenjewels/" target="_blank">
          {% include 'facebook-icon' %}
        </a>
        <a class="inline-block dark-pink mr1 hover-opacity-5" href="https://www.pinterest.com/ragenjewels/" target="_blank">
          {% include 'pinterest-icon' %}
        </a>
        <a class="inline-block dark-pink hover-opacity-5" href="https://twitter.com/ragenjewels" target="_blank">
          {% include 'twitter-icon' %}
        </a>
      </div>
    </div>
  </div>
  <div class="js-close-popup absolute t0 l0 r0 b0 z1"></div>
</div>
