<div>
  <form action="https://ragenjewels.us13.list-manage.com/subscribe/post?u=d69b64f1a08553838add1bcfc&amp;id=c207b39bd8" method="post" name="mc-embedded-subscribe-form" class="mc-form-popup validate">
    <div class="popup-signup">
      <div class="mc-field-group">
        <div class="relative">
          <input type="email" value="" name="EMAIL" placeholder="Email address" class="apercu-regular required email w100p border-box" required>
          <div class="absolute flex items-center t0 r0 b0 px1">
            <svg class="hide loading" x="0px" y="0px" width="26px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;">
              <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/>
              </path>
            </svg>
            <input type="submit" value="→" name="subscribe" class="h3">
          </div>
        </div>
        <span class="hide success dark-pink mt1 h5"></span>
      </div>
      <div class="mc-field-group input-group hide">
        <strong>Where users signed up </strong>
        <ul>
          <li>
            <input type="checkbox" value="1" name="group[17341][1]">
            <label for="mce-group[17341]-17341-0">Footer</label>
          </li>
          <li>
            <input type="checkbox" value="2" name="group[17341][2]" checked>
            <label for="mce-group[17341]-17341-1">Popup</label>
          </li>
        </ul>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" style="display:none"></div>
        <div class="response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_d69b64f1a08553838add1bcfc_c207b39bd8" tabindex="-1" value="">
      </div>
    </div>
  </form>
</div>
