<div class="js-popup popup quick-shop-popup fixed t0 l0 r0 b0 flex items-center z10 hidden px1">
  <div class="popup-box quick-shop-box bg-white w100p flex-md z2 rounded border-box">
    <div class="quick-shop-column quick-shop-column--left flex flex-column items-center">
      <div class="js-quick-shop-gallery border border-light-gray rounded"></div>
      <div>
        <button class="js-quick-shop-prev quick-shop-prev pointer button-reset" type="button">
          <svg fill="currentColor" viewbox="0 0 24 24" width="28">
            <path d="M9.2 12L15.2 18 14.5 18.7 7.8 12 8.1 11.7 14.5 5.3 15.2 6 9.2 12ZM12 23.5C5.6 23.5 0.5 18.4 0.5 12 0.5 5.6 5.6 0.5 12 0.5 18.4 0.5 23.5 5.6 23.5 12 23.5 18.4 18.4 23.5 12 23.5ZM12 22.5C17.8 22.5 22.5 17.8 22.5 12 22.5 6.2 17.8 1.5 12 1.5 6.2 1.5 1.5 6.2 1.5 12 1.5 17.8 6.2 22.5 12 22.5Z"/>
          </svg>
        </button>
        <button class="js-quick-shop-next quick-shop-next pointer button-reset" type="button">
          <svg fill="currentColor" viewbox="0 0 24 24" width="28">
            <path d="M15.9 12.4L9.5 18.7 8.8 18 14.8 12 8.8 6 9.5 5.3 16.2 12 15.9 12.4ZM12 23.5C5.6 23.5 0.5 18.4 0.5 12 0.5 5.6 5.6 0.5 12 0.5 18.4 0.5 23.5 5.6 23.5 12 23.5 18.4 18.4 23.5 12 23.5ZM12 22.5C17.8 22.5 22.5 17.8 22.5 12 22.5 6.2 17.8 1.5 12 1.5 6.2 1.5 1.5 6.2 1.5 12 1.5 17.8 6.2 22.5 12 22.5Z"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="quick-shop-column quick-shop-column--right border-box relative">
      <svg class="js-close-popup close-icon pointer absolute r0 t0" height="15" viewbox="0 0 15 15" width="15" xmlns="http://www.w3.org/2000/svg">
        <polygon fill="currentColor" points="7.5 8.5 1 14.9 0 13.9 6.5 7.5 0 1 1 0 7.5 6.5 14 0 15 1 8.5 7.5 15 14 14 15"/>
      </svg>
      <h4 class="js-quick-shop-title mt0 mb1 text-normal bold pr2"></h4>
      <p class="js-quick-shop-description charcoal h6 mt0 mb1 show-md"></p>
      <div class="js-quick-shop-options"></div>
      <div class="quick-shop-button">
        <button class="js-add-to-stack button bg-black white my1" type="button">
          Add to jewel bag
        </button>
      </div>
    </div>
  </div>
  <div class="js-close-popup absolute t0 l0 r0 b0 z1"></div>
</div>
