<div class="secondary-menu border-bottom border-smoke bg-white sticky z8">
  <button type="button" class="secondary-trigger button bg-white w100p apercu-regular medium-gray">
    <div class="flex items-center justify-center">
      <span class="h5 block">Categories</span>
      <span class="submenu-down-arrow">
        {% include 'submenu-down-arrow' %}
      </span>
    </div>
  </button>
  <nav class="secondary-nav hide">
    {% for secondary in linklists.secondary-menu.links %}
      <a class="mobile-item flex items-center justify-between medium-gray no-underline h5 hover-opacity-5" href="{{ secondary.url }}">
        {{ secondary.title }}
        <span class="dark-pink">
          <svg style="transform: rotate(270deg);" xmlns="http://www.w3.org/2000/svg" width="11" viewBox="0 0 9 6" fill="currentColor">
            <path d="M4.6 3.8L7.8 0.6 8.6 1.5 5.5 4.7 5.5 4.7 4.6 5.6 0.5 1.4 1.4 0.5 4.6 3.8Z"/>
          </svg>
        </span>
      </a>
    {% endfor %}
  </nav>
</div>
