<div class="secondary-menu sticky flex justify-center border-bottom border-smoke bg-white z8">
  {% for secondary in linklists.secondary-menu.links %}
    <div class="p1">
      <div class="relative">
        <a class="flex items-center medium-gray no-underline h5 hover-opacity-5 relative z1" href="{{ secondary.url }}">
          {{ secondary.title }}
          <span class="submenu-down-arrow">
            {% if secondary.links != blank %}
              {% include 'submenu-down-arrow' %}
            {% endif %}
          </span>
        </a>
        {% if secondary.links != blank %}
          <div class="submenu absolute t0">
            <ul class="list-reset bg-white p1 border border-smoke">
              {% for child_link in secondary.links %}
                <li class="{% if forloop.last != true %}submenu-item{% endif %}">
                  <a class="flex items-center justify-between medium-gray no-underline h5 hover-opacity-5" href= "{{ child_link.url }}">
                    {{ child_link.title }}
                    <span class="dark-pink">&rarr;</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
