<div class="js-popup popup sizing-chart-popup fixed t0 l0 r0 b0 flex items-center z10 hidden">
  <div class="popup-box bg-white w100p z2 rounded">
    <div class="sizing-chart-padding border-box relative">
      <svg class="js-close-popup close-icon pointer absolute r1 t1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
        <polygon points="7.5 8.5 1 14.9 0 13.9 6.5 7.5 0 1 1 0 7.5 6.5 14 0 15 1 8.5 7.5 15 14 14 15" fill="currentColor"/>
      </svg>
      <h2 class="sizing-text text-normal mb2">Ring size chart</h2>
      <img class="retina" src="https://cdn.shopify.com/s/files/1/0055/8193/0563/files/ringsizechart.png?2824759640835621456" />
    </div>
    <div class="js-close-popup absolute t0 l0 r0 b0 z1"></div>
  </div>
</div>
