{% form 'create_customer' %}

{{ form.errors | default_errors }}

<div class="grid pt2 pb3">
  <div class="text-center">
    <h3 class="m0 mb1 bold text-normal">Register</h3>
  </div>
  <div class="mx-auto" style="max-width: 640px;">
    <label class="h5" for="first_name">First Name</label>
    <input class="border border-smoke focus-border-black w100p p0_5 h4 mb1 border-box" type="text" value="" name="customer[first_name]" size="30" />
    <label class="h5" for="last_name">Last Name</label>
    <input class="border border-smoke focus-border-black w100p p0_5 h4 mb1 border-box" type="text" value="" name="customer[last_name]" size="30" />
    <label class="h5" for="email">Email Address</label>
    <input class="border border-smoke focus-border-black w100p p0_5 h4 mb1 border-box" type="email" value="" name="customer[email]" size="30" />
    <label class="h5" for="password">Password</label>
    <input class="border border-smoke focus-border-black w100p p0_5 h4 mb1 border-box" type="password" value="" name="customer[password]" />
    <input class="button block mx-auto bg-black white mt1" type="submit" value="Create Account" />
  </div>
</div>

{% endform %}
