{% form 'create_customer' %}

{{ form.errors | default_errors }}

<div class="grid page pt2 pb3">
  <div class="page-content">
    <div class="text-center">
      <h5>Sign Up</h5>
    </div>
    <div>
      <label class="h5 text-uppercase" for="first_name">First Name</label>
      <input class="border border-smoke focus-border-black w100p p0_5 h4 mb1 border-box" type="text" value="" name="customer[first_name]" size="30" />
      <label class="h5 text-uppercase" for="last_name">Last Name</label>
      <input class="border border-smoke focus-border-black w100p p0_5 h4 mb1 border-box" type="text" value="" name="customer[last_name]" size="30" />
      <label class="h5 text-uppercase" for="email">Email Address</label>
      <input class="border border-smoke focus-border-black w100p p0_5 h4 mb1 border-box" type="email" value="" name="customer[email]" size="30" />
      <label class="h5 text-uppercase" for="password">Password</label>
      <input class="border border-smoke focus-border-black w100p p0_5 h4 mb1 border-box" type="password" value="" name="customer[password]" />
      <input class="button h5 block mx-auto text-uppercase bg-black rounded white no-border mt1" type="submit" value="Create Account" />
    </div>
  </div>
</div>

{% endform %}
