<div class="grid">
  <div class="image-module right-module flex items-center">
    <div class="description border-box">
      <h3 class="mt0 mb1">{{ section.settings.title }}</h3>
      <p class="m0 dark-gray apercu-light">{{ section.settings.description }}</p>
      <button class="button h5 text-uppercase bg-dark-pink rounded white no-border mt2">
        {{ section.settings.button_text }}
      </button>
    </div>
    <span class="space"></span>
    <div class="visual overflow-hidden bg-light-gray w100p">
      <div class="rounded image bg-center bg-cover fade-image" style="padding-top: 100%;" data-img="{{ section.settings.image | img_url: '1440x768' }}"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image Right",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "Description"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Button text"
      }
    ]
  }
{% endschema %}
