<div class="bg-light-pink dark-pink py2">
  <div class="tagline mx-auto text-center">
    <img class="retina" src="https://bit.ly/2QtwLEm" />
    <h2 class="my1 h2 text-normal">
      {{ section.settings.subheader_text }}
    </h2>
  </div>
</div>

{% schema %}
  {
    "name": "Subheader",
    "settings": [
      {
        "id": "subheader_text",
        "type": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}
