<div class="text-center">
  <!-- <p class="black h5 mt1" style="margin-bottom: .5rem;">
    {{ section.settings.subheader_text }}
  </p> -->
  <!-- <svg class="inline-block" width="14" viewBox="0 0 306 306">
    <polygon points="270.3 58.7 153 176 35.7 58.7 0 94.4 153 247.4 306 94.4 "/>
  </svg> -->
</div>

{% schema %}
  {
    "name": "Subheader",
    "settings": [
      {
        "id": "subheader_text",
        "type": "text",
        "label": "Text"
      }
    ]
  }
{% endschema %}
