<div class="insta-famous text-center">
  <div class="grid">
    <h3 class="mt0 mb1 bold text-normal">Insta Famous</h5>
    <p class="mt0 h5 dark-gray mb3">Tag us on Instagram with @ragenjewels to be featured on our site!</p>
    <div class="negative-margin">
      <div class="ig-photos flex-md flex-wrap"></div>
    </div>
    <div class="static-insta negative-margin hide flex-md">
      <div class="image-wrapper flex-1 mb1">
        <div class="image bg-center bg-cover fade-image rounded" style="padding-top: 100%;" data-img="{{ section.settings.image1 | img_url: '800x' }}"></div>
      </div>
      <span class="block pl1"></span>
      <div class="image-wrapper flex-1 mb1">
        <div class="image bg-center bg-cover fade-image rounded" style="padding-top: 100%;" data-img="{{ section.settings.image2 | img_url: '800x' }}"></div>
      </div>
      <span class="block pl1 show-md"></span>
      <div class="image-wrapper flex-1 mb1">
        <div class="image bg-center bg-cover fade-image rounded" style="padding-top: 100%;" data-img="{{ section.settings.image3 | img_url: '800x' }}"></div>
      </div>
      <span class="block pl1"></span>
      <div class="image-wrapper flex-1 mb1">
        <div class="image bg-center bg-cover fade-image rounded" style="padding-top: 100%;" data-img="{{ section.settings.image4 | img_url: '800x' }}"></div>
      </div>
    </div>
    <a class="inline-block bold black no-underline h6 mt2" href="https://www.instagram.com/ragenjewels/" target="_blank">
      See all photos &rarr;
    </a>
  </div>
</div>

{% schema %}

{
  "name": "Instagram Photos",
  "settings": [
    {
      "id": "image1",
      "type": "image_picker",
      "label": "Image 1"
    }, {
      "id": "image2",
      "type": "image_picker",
      "label": "Image 2"
    }, {
      "id": "image3",
      "type": "image_picker",
      "label": "Image 3"
    }, {
      "id": "image4",
      "type": "image_picker",
      "label": "Image 4"
    }
  ]
}

{% endschema %}
